
/*-----------------Recepcion de documentos--------------*/
.iconsexport{
    float: right;
    margin-right: 10px;
    font-size: 20px;
    margin-top: 3px;
    cursor: pointer;
}
#exportpdf{
    margin-right: 30px;
}
@media(min-width: 992px){
#contentmenu{
    width: 24%;
}
}
#jqGridPager_center{
    float: left;
    margin-left: 30px;
}
/*.bootstrap-datetimepicker-widget{
   // border: 1px solid red !important;
    z-index: 2147483647 !important;
}*/