/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/10/2015, 10:32:48 AM
    Author     : bmunoz
*/

.iconsexport{
    float: right;
    margin-right: 10px;
    font-size: 10px;
    cursor: pointer;
    margin-top: -2px
}
.iconsexport .fa{
     font-size: 18px;
}
#exportpdf{
    margin-right: 30px;
}
.contenttablas  div{
    max-width: 100% ;
}
#Act_Buttons .navButton {
    display: none;
}
#jqGrid {
    font-size: 12px;
}
.ui-jqdialog-content .FormGrid{
    overflow: inherit; 
}
.ui-jqdialog-content label , input{
    margin-bottom: 13%;
}
#TblGrid_jqGrid_2{
    margin-top: 5%;
}
.bootstrap-datetimepicker-widget th{
    padding: 0 !important;
    margin: 0 !important;
}
.bootstrap-datetimepicker-widget{
    padding: 0 !important;
    margin: 0 !important;
}